@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

.regular-font {
    font-family: "Sora", sans-serif;
    font-style: normal;
}
.bgImg{
    background-image: url(../src/assets/images/bg-shadow.png);
    background-position: center;
    background-repeat: no-repeat;

}
  